.navbar {
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #e5e7eb;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.user-section {

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;
}

.username {

    font-size: 18px;
    font-weight: 500;
}

.logout-btn {

    height: 38px;
    min-width: 110px;
}