<div class="page">

  <section class="card">
    <h2>Çalışan Yönetimi</h2>

    <div class="toolbar">
    <input 
    type="text"
    placeholder="Search employee..."
    [(ngModel)]="searchText"
    (keyup)="applyFilter()" />

      <select>
        <option>Bütün Takımlar</option>
      </select>

      <button
        mat-raised-button
        color="primary"
        (click)="openAddEmployeeDialog()">

        + Yeni Çalışan

      </button>
    </div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>İsim</th>
    <td mat-cell *matCellDef="let employee">
      {{ employee.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef>Soyisim</th>
    <td mat-cell *matCellDef="let employee">
      {{ employee.surname }}
    </td>
  </ng-container>

  <ng-container matColumnDef="teamName">
    <th mat-header-cell *matHeaderCellDef>Takım</th>
    <td mat-cell *matCellDef="let employee">
      {{ employee.teamName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="titleName">
    <th mat-header-cell *matHeaderCellDef>Ünvan</th>
    <td mat-cell *matCellDef="let employee">
      {{ employee.titleName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Durum</th>
    <td mat-cell *matCellDef="let employee">
      {{ employee.status }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Aksiyonlar</th>
    <td mat-cell *matCellDef="let employee">
      
    <button mat-icon-button (click)="editEmployee(employee)">
    <mat-icon>edit</mat-icon>
     </button>

    <button mat-icon-button color="warn" (click)="deleteEmployee(employee)">
      <mat-icon>delete</mat-icon>
    </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>
  </section>

 <section class="card">
  <h2>Kapasite Yönetimi</h2>

  <div class="capacity-grid">

    <!-- SOL KART -->
    <div class="capacity-card">
      <h3>Takım Kapasitesi</h3>
      
      <div class="scrollable-list">
        <div
          *ngFor="let team of teamCapacities"
          class="team-capacity-item"
          (click)="selectTeam(team.teamId)">
          
          <div class="team-header">
            <span>{{ team.teamName }}</span>
            <span [ngClass]="getCapacityClass(team.averageCapacity)">
              %{{ team.averageCapacity }}
            </span>
          </div>
          
          <div class="capacity-progress">
            <div
                class="capacity-progress-fill"
                [style.width.%]="team.averageCapacity"
                [style.background]="getCapacityColor(team.averageCapacity)">
            </div>
          </div>
        </div>
      </div>
    </div> 

    <!-- SAĞ KART -->
    <div class="capacity-card">
      <h3>Çalışan İş yükleri</h3>
      
      <div class="scrollable-list">
        <div *ngFor="let employee of filteredWorkloads"
             class="team-capacity-item">
             
          <div class="team-header">
            <div>
              <strong>{{ employee.employeeName }}</strong><br>
              <small>{{ employee.titleName }}</small>
            </div>
            <span [ngClass]="getCapacityClass(employee.capacity)">
              %{{ employee.capacity }}
            </span>
          </div>    
          
          <div class="capacity-progress">
            <div
                class="capacity-progress-fill"
                [style.width.%]="employee.capacity"
                [style.background]="getCapacityColor(employee.capacity)">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
 </section>

</div>