<div class="sidebar">

    <a
        routerLink="/dashboard"
        routerLinkActive="active"
        class="menu-item">

         Dashboard

    </a>

    <a
        routerLink="/employees"
        routerLinkActive="active"
        class="menu-item">

         Employees

    </a>

    <a
        routerLink="/projects"
        routerLinkActive="active"
        class="menu-item">

         Projects

    </a>

    <a
        routerLink="/calendar"
        routerLinkActive="active"
        class="menu-item">

         Calendar

    </a>

    <a
        routerLink="/leave-request"
        routerLinkActive="active"
        class="menu-item">

         Leave Requests

    </a>

    <a
        routerLink="/settings"
        routerLinkActive="active"
        class="menu-item">

         Settings

    </a>

</div>